Cython==3.0.8
distro-info==0.21+deb10u1
importlib-metadata==6.7.0
iotop==0.6
netifaces==0.10.4
numpy==1.16.2
pandas==0.23.3+dfsg
pycurl==7.43.0.2
PyGObject==3.30.4
python-apt==1.8.4.3
python-dateutil==2.7.3
pytz==2019.1
scapy==2.4.0
six==1.12.0
typing-extensions==4.7.1
unattended-upgrades==0.1
wiringpi==2.60.1
zipp==3.15.0
